name: Zephyr Setup Environment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            git cmake ninja-build gperf ccache dfu-util \
            device-tree-compiler wget python3-dev python3-pip \
            python3-setuptools python3-tk python3-wheel xz-utils file \
            make gcc gcc-multilib-arm-linux-gnueabihf g++-multilib-arm-linux-gnueabihf libsdl2-dev

      - name: Install West and Imgtool
        run: |
          pip3 install west imgtool

      - name: Initialize Zephyr Workspace
				run: |
				  mkdir -p/usr/local/gnuarmemb
					curl https://developer.arm.com/-/media/Files/downLoads/gnu-rm/9-2020q2/gcc-arm-none-eabi-9-2020-q2-update-aarch64-linux.tar.bz2 | sudo tar --strip-components=1 --directory=/usr/local/gnuarmemb ~jxf -
					echo 'export ZEPHYR_TOOLCHAIN_VARIANT=guarmemb' | sudo tee -a /etc/profile.d/zephyr.sh echo
					echo 'export GNUARMEMB_TOOLCHAIN_PATH=/usr/local/gnuarmemb/' | sudo tee -a /etc/profile.d/zephyr.sh
					echo 'export PATH=${HOME)/.local/bin:${PATH}' | sudo tee -a /etc/profile.d/zephyr.sh
					west init ~/zephyrproject 
					cd ~/zephyrproject 
					west update
					west zephyr-export
					pip3 install -user -r zephyr/scripts/requirements.txt

