name: Zephyr Setup Environment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            git cmake ninja-build gperf ccache dfu-util \
            device-tree-compiler wget python3-dev python3-pip \
            python3-setuptools python3-tk python3-wheel xz-utils file \
            make gcc gcc-multilib g++-multilib libsdl2-dev

      - name: Install West
        run: |
          pip3 install --user -U west
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Initialize Zephyr Workspace
        run: |
          mkdir zephyr-tutorial
          cd zephyr-tutorial
          west init
          west update
          west zephyr-export

      - name: Install Python Requirements
        run: |
          cd zephyr-tutorial
          pip3 install -r zephyr/scripts/requirements.txt
